[Unit]
Description=vmtree control service
After=network.target
Requires=vmtree-control.socket

[Service]
ExecStart=-/vmtree/control.sh "%i"
Restart=no
StandardInput=socket

[Install]
WantedBy=multi-user.target
